.Bug {
  background-color: #92bc2c !important;
  box-shadow: 0 0 1px #92bc2c;
  /*background-image: url(./icons/bug.svg);*/
}

.Dark {
  background-color: #595761 !important;
  box-shadow: 0 0 20px #595761;
}

.Dragon {
  background-color: #0c69c8 !important;
  box-shadow: 0 0 20px #0c69c8;
}

.Electric {
  background-color: #f2d94e !important;
  box-shadow: 0 0 20px #f2d94e;
}

.Fire {
  background-color: #fba54c !important;
  box-shadow: 0 0 20px #fba54c;
}

.Fairy {
  background-color: #ee90e6 !important;
  box-shadow: 0 0 20px #ee90e6;
}

.Fighting {
  background-color: #d3425f !important;
  box-shadow: 0 0 20px #d3425f;
}

.Flying {
  background-color: #a1bbec !important;
  box-shadow: 0 0 20px #a1bbec;
}

.Ghost {
  background-color: #5f6dbc !important;
  box-shadow: 0 0 20px #5f6dbc;
}
